@import url('https://fonts.googleapis.com/css?family=Ubuntu');

.container {
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
}
.container .mat-drawer {
  padding-left: 200px;
  padding-right: 200px;
  min-width: 200px;

}
