/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import url('https://fonts.googleapis.com/css?family=Ubuntu');

h1{
  font-family: 'ubuntu';
  font-size: 48px;
  text-shadow: 4px 4px 4px #aaa;
}
body {
  font-family: Roboto, ariel, sans-sarif;
}
